#Header1{
    background-color:#222222;
    text-align: center;
    color: white;
    height: 50px;
   
}
#Header1 a{
    margin-top: 20px;
    vertical-align: sub;
    color: #A6A194;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
}
#body{

    background-image: url("./imgs/homepage/Bgimg.jpg");
    background-color: turquoise;
    object-fit: cover;
}